
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: burlywood;
}
.title{
    max-width:1500px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    
}

.title h1{
    font-size: 80px;
    font-style: italic;
    /* background-color: rgb(99, 97, 97); */
}
.container{

    min-height: 50vh;
    
    border-bottom: 0;
    
}
.content{
    max-width: 900px;
    margin: 0 auto;

}
.top_section{
    margin-top: 50px;
    margin-bottom: 50px;
display: flex;    /*when to side two content*/
justify-content: space-around;
align-items: flex-end;
}

.top_section h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  5px solid rgb(0, 0, 0);

}
.top_section h4{
font-size: 20px;
}

.img_container,
img{
    width: 300px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    align-items: center;
    transition: all 1s;
}
.img_container:hover{
    transform: scale(1.2);
            border-radius: 500px;
}
.synopsis{
    margin: 20px;
}

.synopsis h2,p{
    background-color: rgb(0, 0, 0);
    color: white;
  }
.synopsis1 h2,p{
    background-color: rgb(0, 0, 0);
    color: white;
    }
    .synopsis2 h2,p{
        background-color: rgb(0, 0, 0);
        color: white;
        }
        .synopsis3 h2,p{
            background-color: rgb(0, 0, 0);
            color: white;
            }
            .synopsis4 h2,p{
                background-color: rgb(0, 0, 0);
                color: white;
                }

                               

.container1{
    
    min-height: 50vh;
   
    border-bottom: 0;
}

.content1{
    max-width: 900px;
    margin: 0 auto;

}

.top_section1{
    margin-top: 50px;
    margin-bottom: 50px;
display: flex;    /*when to side two content*/
justify-content: space-around;
align-items: flex-end;
}

.top_section1 h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  5px solid black;

}

.top_section1 h4{
    font-size: 20px;
    }

    .img_container1{
    width: 300px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    align-items: center;
    transition: all 1s;
}
.img_container1:hover{
    transform: scale(1.2);
            border-radius: 500px;
}
.synopsis1{
    margin: 20px;
    
}


.container2{
    
    min-height: 50vh;
    
    border-bottom: 0;
}

.content2{
    max-width: 900px;

    margin: 0 auto;

}

.top_section2{
    margin-top: 50px;
    margin-bottom: 50px;
display: flex;    /*when to side two content*/
justify-content: space-around;
align-items: flex-end;
}

.top_section2 h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  5px solid black;

}

.top_section2 h4{
    font-size: 20px;
    }

    .img_container2{
    width: 300px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    align-items: center;
    transition: all 1s;
}
.img_container2:hover{
    transform: scale(1.2);
            border-radius: 500px;
}
.synopsis2{
    margin: 20px;
}

.container3{
    
    min-height: 50vh;
    
    border-bottom: 0;
}

.content3{
    max-width: 900px;
    margin: 0 auto;

}

.top_section3{
    margin-top: 50px;
    margin-bottom: 50px;
display: flex;    /*when to side two content*/
justify-content: space-around;
align-items: flex-end;
}

.top_section3 h1{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  5px solid black;

}

.top_section3 h4{
    font-size: 20px;
    }

    .img_container3{
    width: 300px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    align-items: center;
    transition: all 1s;
}
.img_container3:hover{
    transform: scale(1.2);
            border-radius: 500px;
}
.synopsis3{
    margin: 20px;
}

.container4{

    min-height: 50vh;
   
}

.content4{
    max-width: 900px;
    margin: 0 auto;

}

.top_section4{
    margin-top: 50px;
    margin-bottom: 50px;
display: flex;    /*when to side two content*/
justify-content: space-around;
align-items: flex-end;
}

.top_section4 h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  5px solid black;

}

.top_section4 h4{
    font-size: 20px;
    }

    .img_container4{
    width: 300px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    align-items: center;
    transition: all 1s;
}
.img_container4:hover{
    transform: scale(1.2);
            border-radius: 500px;
}
.synopsis4{
    margin: 20px;
}
.rm{
    background-color: antiquewhite;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}
.rm:hover{
    color: rgb(245, 88, 88);
    background-color: rgb(150, 147, 147) ;
}
.search-bar{
    width: 100%;
    max-width: 300px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 10px 13px;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    height: 10px;
    margin-right: 10px;
}
.search-bar input{
flex: 1;
border: 0;
outline: none;
padding: 4px 4px;
font-size: 10px;
color: #8b2525;
text-align: left;
}
::placeholder{
    color: rgb(0, 0, 0);
}
.search-bar button{
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 0%;
    border: 0;
    cursor: pointer;
    background-color: #a85151;
   
}
.search-bar button img{
    width: 15px;
    height: 15px;
}
.navbar{
    background-color: rgb(0, 0, 0);
   border-radius: 4px;
   margin-top: 2px;
  margin-bottom: 0;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 6px 3px;
   
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: aliceblue;
}
.navbar li a:hover{
    color: rgb(193, 167, 135);
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .dropdown:hover .dropbtn {
    background-color: rgb(193, 167, 135);
    border-radius: 4px;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(218, 197, 172);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;  /* CSS property that controls the stacking order of overlapping elements on a page */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media only screen and (max-width: 320px){
    .title{
        height: 55px;
    }

    .title h1{
        font-size: 35px;
        padding-top: 4px;
        font-style: italic;
        border: 5px solid black;
        height: 56px;
    }
    .search-bar {
        width: 100%;
        max-width: 140px;
        background: white;
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 8px 8px;
        margin-left: auto;
        margin-top: 3px;
        margin-bottom: 8px;
        height: 16px;
        margin-right: 4px;
    }
    .search-bar input {
        flex: 1;
        border: 0;
        outline: none;
        padding: 4px 4px;
        font-size: 7px;
        color: #8b2525;
        text-align: left;
    }
    .search-bar button {
        width: 18px;
        height: 16px;
        overflow: hidden;
        border-radius: 0%;
        border: 0;
        cursor: pointer;
        background-color: #a85151;
    }
    .dropdown .dropbtn {
        font-size: 12px;
        border: none;
        outline: none;
        color: white;
        padding: 4px 5px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(218, 197, 172);
        min-width: 95px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        font-size: 10px;
        float: none;
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .top_section {
        margin-top: 13px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    .img_container, img {
        width: 120px;
        height: 100px;
        border-radius: 10%;
        overflow: hidden;
        align-items: center;
        transition: all 1s;
    }
    .top_section h1 {
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 3px solid rgb(0, 0, 0);
    }
    .top_section h4 {
        font-size: 17px;
    }
    .synopsis {
        margin: 10px;
    }
    .synopsis h2,p{
        font-size: 13px;
        background-color: rgb(0, 0, 0);
        color: white;
      }
    .synopsis1 h2,p{
        font-size: 13px;
        background-color: rgb(0, 0, 0);
        color: white;
        }
        .synopsis2 h2,p{
            font-size: 13px;
            background-color: rgb(0, 0, 0);
            color: white;
            }
            .synopsis3 h2,p{
                font-size: 13px;
                background-color: rgb(0, 0, 0);
                color: white;
                }
                .synopsis4 h2,p{
                    font-size: 13px;
                    background-color: rgb(0, 0, 0);
                    color: white;
                    }
                    .rm {
                        font-size: 10px;
                        background-color: antiquewhite;
                        padding: 4px;
                        cursor: pointer;
                        border-radius: 4px;
                        margin-top: 5px;
                    }
                    .container1 {
                        min-height: 40vh;
                        border-bottom: 0;
                    }
                    .top_section1 {
                        margin-top: 20px;
                        margin-bottom: 18px;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                    }
                    .top_section1 h1 {
                        font-size: 10px;
                        font-weight: bold;
                        text-transform: uppercase;
                        border-bottom: 3px solid black;
                    }.top_section1 h4 {
                        font-size: 13px;
                    }
                    .img_container1 {
                        margin-left: 5px;
                        width: 120px;
                        height: 100px;
                        border-radius: 10%;
                        overflow: hidden;
                        align-items: center;
                        transition: all 1s;
                    }
                    .synopsis1 {
                        margin: 9px;
                    }
                    .top_section2 {
                        margin-top: 20px;
                        margin-bottom: 18px;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                    }
                    .img_container2 {
                        width: 120px;
                        height: 100px;
                        border-radius: 10%;
                        overflow: hidden;
                        align-items: center;
                        transition: all 1s;
                    }
                    .top_section2 h1 {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        border-bottom: 2px solid black;
                    }
                    .top_section2 h4 {
                        font-size: 14px;
                    }
                    .synopsis2 {
                        margin: 9px;
                    }
                    .top_section3 {
                        margin-top: 20px;
                        margin-bottom: 18px;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                    }
                    .img_container3 {
                        width: 120px;
                        height: 100px;
                        border-radius: 10%;
                        overflow: hidden;
                        align-items: center;
                        transition: all 1s;
                    }
                    .top_section3 h1 {
                        font-size: 6px;
                        font-weight: bold;
                        text-transform: uppercase;
                        border-bottom: 2px solid black;
                    }
                    .top_section3 h4 {
                        font-size: 13px;
                    }
                    .synopsis3 {
                        margin: 9px;
                    }
                    .container4 {
                        min-height: 40vh;
                    }
                    .top_section4 {
                        margin-top: 20px;
                        margin-bottom: 18px;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                    }
                    .img_container4 {
                        width: 120px;
                        height: 100px;
                        border-radius: 10%;
                        overflow: hidden;
                        align-items: center;
                        transition: all 1s;
                    }
                    .top_section4 h1 {
                        font-size: 15px;
                        font-weight: bold;
                        text-transform: uppercase;
                        border-bottom: 3px solid black;
                    }
                    .top_section4 h4 {
                        font-size: 14px;
                    }
                    .synopsis4 {
                        margin: 9px;
                    }

  }